Private/
Library/
Temp/
obj/

Assets/NGUI/Examples.meta
Assets/NGUI/Examples
Assets/Texture.meta
Assets/Texture/
Assets/Swf.meta
Assets/Swf/
Assets/Xffect/Tutorial.meta
Assets/Xffect/Tutorial/
Assets/uniSWF/Examples.meta
Assets/uniSWF/Examples/
GIT_IGNORE
GIT_IGNORE.meta

*.userprefs
*.sln
*.csproj
*.unityproj
*.booproj

*.DS_Store
Thumb.db
